/* ! Main content  */
main {
  position: relative;
}

/** Offer  */
.first_block {
  padding: 80px 100px;
}
.f_b_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.offer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}
.offer_title {
  display: flex;
  max-width: 600px;
}
.offer_sub {
  max-width: 600px;
}
.offer_btn,
.dignostik_btn {
  padding: 15px 75px;
  border-radius: 3px;
}
.f_b_img {
  position: relative;
}
.f_b_keys {
  max-width: 100%;
}

/** ELPI*/
.elpi_cards,
.economy_cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.elpi_card,
.economy_card {
  display: flex;
  flex-direction: column;
  width: 290px;
  padding: 40px;
}
.card_title {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}
.card_title.m-bottom_50 {
  margin-bottom: 50px;
}
.card_title span {
  display: block;
}
.card_img {
  display: flex;
  align-items: center;
  width: 196.683px;
  height: 190px;
}
.card_sub {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 20px;
  margin-bottom: 20px;
}
.card_sub span {
  display: block;
}
.button_el {
  display: flex;
  gap: 30px;
  align-items: center;
}
.button_elpi {
  border: 3px;
  padding: 10px 35px 10px 35px;
}
.btn_vtoros {
  display: flex;
  flex-direction: column;
  color: #212121;
  font-size: 16px;
  letter-spacing: 0.7px;
}

/** Diagnostik  */
.diagnostik {
  padding: 80px 0;
}
.diagnostik_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.diagnostic_sub {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.diagnostik_b_title {
  margin-bottom: 15px;
  max-width: 100%;
}
.benefit_item {
  margin-bottom: 15px;
  max-width: 100%;
}
.benefit_item::before {
  content: "—";
  margin-right: 7px;
}
.benefit_item:last-child {
  margin-bottom: 0px;
}
.diagnostik_img {
  object-fit: cover;
  max-width: 100%;
}
/* !Popup */
body.lock {
  overflow: hidden;
}
.popup {
  position: fixed;
  height: 100%;
  width: 100vw;
  z-index: 9999;
  background-color: #00000050;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 0s;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup_content {
  background-color: white;
  border-radius: 10px;
  max-width: 800px;
  padding: 80px 50px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px 0;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) scale(0) rotateX(45deg);
}
.popup_container {
  max-width: 100%;
  min-height: 100%;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.open {
  opacity: 1;
  visibility: visible;
}
.popup.open .popup_content {
  transform: perspective(600px) scale(1) rotateX(0deg);

  opacity: 1;
}
.inputs_e_p {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.input_e,
.input_p {
  max-width: 100%;
  position: relative;
  margin-bottom: 50px;
}
.email_input {
  width: 600px;
  border: 1px solid #aaa;
  margin: 0 auto;
  border-radius: 5px;
  height: 3.5em;
  position: relative;
  padding: 5px 15px;
}
.phone_input {
  width: 600px;
  border: 1px solid #aaa;
  margin: 0 auto;
  border-radius: 5px;
  height: 4em;
  position: relative;
  padding: 15px 15px;
}

.active {
  border-color: #000000;
  border-width: 2px;
}
.input_e.active {
  border-color: #000000;
  border-width: 1px;
}
.input_p.active {
  border-color: #000000;
  border-width: 1px;
}

.phone_title,
.email_title {
  position: absolute;
  top: 15px;
  left: 16px;
  font-size: 22px;
  font-weight: 500;
  color: #000000;
  background-color: #ffffff;
  z-index: -999;
  padding: 2px;
  opacity: 0;
  transition: 0.25s all;
}
.error_p,
.error_e {
  position: absolute;
  font-size: 16px;
  left: 5px;
  top: 69px;
  color: red;
}
.active_e_p {
  opacity: 1;
  top: -10px;
  left: 16px;
  font-size: 14px;
  z-index: 999;
}
.popup_buttons {
  display: flex;
  flex-direction: row;
  gap: 100px;
  flex-wrap: nowrap;
  align-items: center;
}
.popup_buttons_item {
  width: 50px;
  text-align: center;
  border: 1px solid #000;
  transition: all 0.15s;
}
.popup_buttons_item:first-child {
  background-color: #00000050;
}
/* !Hover  */
.nav_item:hover {
  border-bottom: 1px solid #fff;
}
.home_link:hover {
  border-bottom: none;
}
.offer_btn {
  transition: all 0.15s;
}
.offer_btn:hover,
.offer_btn:focus {
  transform: scale(1.05);
}
.offer_btn:active {
  opacity: 0.8;
}

.btn_vtoros {
  cursor: pointer;
  border-bottom: 1px solid #000000;
  transition: all 0.15s;
}
.btn_vtoros:hover,
.btn_vtoros:focus {
  border-bottom: 2px solid #000000;
}

.button_elpi {
  transition: all 0.15s;
}
.button_elpi:hover,
.button_elpi:focus {
  transform: scale(1.05);
}
.button_elpi:active {
  opacity: 0.8;
}

.dignostik_btn {
  transition: all 0.15s;
}
.dignostik_btn:hover,
.dignostik_btn:focus {
  transform: scale(1.05);
}
.dignostik_btn:active {
  opacity: 0.8;
}

.popup_buttons_item:hover,
.popup_buttons_item:focus {
  transform: scale(1.05);
}
.popup_buttons_item:active {
  opacity: 0.8;
}
/* !Media  */
@media (max-width: 767px) {
  .offer_btn,
  .dignostik_btn {
    padding: 10px 50px;
    border-radius: 3px;
  }
  .f_b_content,
  .diagnostik_container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }

  /* !Elpi */
  .elpi_cards,
  .economy_cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .popup_content {
    padding: 50px 20px !important;
  }
  .email_input {
    width: 300px;
    border: 1px solid #aaa;
    margin: 0 auto;
    border-radius: 5px;
    height: 3.5em;
    position: relative;
    padding: 5px 15px;
  }
  .phone_input {
    width: 300px;
    border: 1px solid #aaa;
    margin: 0 auto;
    border-radius: 5px;
    height: 4em;
    position: relative;
    padding: 15px 15px;
  }
  .popup_content {
    max-width: 350px;
  }
  .popup_buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: nowrap;
    align-items: center;
  }
}
